/**
 * A simple theme for reveal.js presentations, similar
 * to the default theme. The accent color is darkblue;
 * do a find-replace to change it.
 *
 * This theme is Copyright (C) 2012 Owen Versteeg, https://github.com/StereotypicalApps. It is MIT licensed.
 * reveal.js is Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se; so is the theme - beige.css - that this is based off of.
 */

/*********************************************
 * FONT-FACE DEFINITIONS
 *********************************************/

@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);


/*********************************************
 * GLOBAL STYLES
 *********************************************/

body {
	font-family: 'Lato', Times, 'Times New Roman', serif;
	font-size: 36px;
	font-weight: 200;
	letter-spacing: -0.02em;
	color: black !important;

	background: white;
}

::-moz-selection {
    background:rgba(0, 0, 0, 0.99);
	color: white;
}
::-webkit-selection {
    background:rgba(0, 0, 0, 0.99);
	color: white;
}
::selection {
    background:rgba(0, 0, 0, 0.99);
	color: white;
}

/*********************************************
 * HEADERS
 *********************************************/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	margin: 0 0 20px 0;
	color: black;
	font-family: 'News Cycle', Impact, sans-serif;
	line-height: 0.9em;

	text-transform: uppercase;
}


/*********************************************
 * LINKS
 *********************************************/

.reveal a:not(.image) {
	color: darkblue;
	text-decoration: none;

	-webkit-transition: color .15s ease;
	   -moz-transition: color .15s ease;
	    -ms-transition: color .15s ease;
	     -o-transition: color .15s ease;
	        transition: color .15s ease;
}
	.reveal a:not(.image):hover {
		text-shadow: none;
		border: none;
		border-radius: 2px;
	}

.reveal .roll span:after {
	color: #fff;
	background: darkblue;
}


/*********************************************
 * IMAGES
 *********************************************/

.reveal section img {
	margin: 30px 0 0 0;
	background: rgba(255,255,255,0.12);
	border: 4px solid #eee;

	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	   -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	    -ms-transition: all .2s linear;
	     -o-transition: all .2s linear;
	        transition: all .2s linear;
}

	.reveal a:hover img {
		background: rgba(255,255,255,0.2);
		border-color: darkblue;

		-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
		   -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
		        box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
	}


/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

.reveal .controls a {
	color: black;
}
	.reveal .controls a.enabled {
		color: darkblue;
		opacity: 1;
		text-shadow: 0px 0px 2px hsla(185, 45%, 70%, 0.3);
	}


/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
	background: rgba(0,0,0,0.2);
}
	.reveal .progress span {
		background: darkblue;

		-webkit-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		   -moz-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		    -ms-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		     -o-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		        transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
	}


